.imgRow {
  text-align: center;
  margin-top: 3%;
}

.imgRow div {
  display: inline-block;
  margin: 0 10px;
}

.pointBtn {
  width: 10%;
}

.fstRow {
  width: 20%;
  height: 30px;
}

.inactive:hover {
  background-color: red;
  color: white;
  transition: background-color 0.8s;
  transition: color 0.6s;
}

.active:hover {
  background-color: green;
  color: white;
  transition: background-color 0.8;
  transition: color 0.6s;
}

#topRow {
  width: 100%;
}

#middleRow {
  padding-top: 3%;
}

#bottomRow {
  padding-top: 2%;
}

#middleRow button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f1c40f;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  border-style: none;
  padding-right: 1px;
}

#middleRow button:hover {
  background-color: #d4ac0d; 
  
}

#bottomRow button {
  width: 8%;
  text-align: center;
  margin-left: 1%;
  margin-top: 1%;
  border-style: none;

}

#buttons {
  padding-top: 2%;
  width: 100%;
  text-align: center;
}

button {
  border-radius: 20px;
}

body {
  background: #456;
}

#statCard {
  margin-left: 40%;
  margin-bottom: 2%;
  margin-top: 3%;
  width: 20%;
  padding: 2%;
  background-color: #f5f5f5;
  border-radius: 60px;
  text-align: center;
}

#playerPoints,
#housePoints,
#rolledPoints,
#pMoney,
#pBet {
  margin: 10px 0;
  font-size: 18px;
}

#pMoney,
#pBet {
  font-weight: bold;
  color: #007bff;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
